body{
    background-image: url("img/cafeimage.jpg");
    background-size: cover;
    background-color: antiquewhite;
}

.navi a{
      color: cornsilk;
      font-family: 'Palatino Linotype',sans-serif;
}
.navi {
      color: cornsilk;
}


h1{
    color: cornsilk;
    font-family: 'Palatino Linotype',sans-serif;
    border-bottom: 3px dashed cornsilk;
    display: inline;
}


.about {
    color: cornsilk;
}

.about a{

    color: black;
}